<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do Node!</h1>
  <p class="lead">Esse é um blog para aprender um pouco mais sobre NodeJS</p>
  <hr class="my-4">
  <p>Por isso estou fazendo esse blog</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenuma postagem</h5>
{{/each}}